body {
  background-color: #f4f4f4;
}

.bx--content {
  background-color: #f4f4f4;
}

.page-title {
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 0.875rem;
  line-height: 1.125em;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 0.5rem;
}
